.text-center.menu.mb-4
   a.btn.btn-secondary(href="/create") dodaj
   a.btn.btn-secondary(href="/read") wypisz
   a.btn.btn-secondary(href="update") uaktualnij
   a.btn.btn-secondary(href="/delete") usuń