body {
  background-color: lightblue;
  font-size: 13px;
}

.menu a{
  margin-right: 10px;
}
.menu a:last-child{
  margin-right: 0;
}

.content {
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
}

footer {
  background-color: lightgray;
  margin: 0 -15px -15px -15px;
  padding: 10px 15px;
  font-size: 12px;
}