doctype html
html(lang="en")
   head
      include ../partials/head.pug
   body.mt-5.mb-4
      .container
         .row.justify-content-center
            .col-11.col-lg-9.content.pt-4
               .row.mb-3
                  .col.text-center
                     include ../partials/top.pug
               .row
                  .col
                     include ../partials/menu.pug
               .row.text-center
                  .col
                     if edit
                        h1 edycja elementu z bazy
                     else 
                        h1 dodawanie elementów do bazy
               .row.mt-2
                  .col
                     if edit
                        -var action = '/list/update/' + person.id
                     else
                        -var action = '/list/create'
                     form(action=action, method='POST')
                        .form-row
                           .form-group.col
                              label(for='name') imię:
                              if edit
                                 input#name.form-control(name='name', type='text', required, value=person.name)
                              else
                                 input#name.form-control(name='name', type='text', required)
                           .form-group.col
                              label(for='surname') nazwisko:
                              if edit
                                 input#surname.form-control(name='surname', type='text', required, value=person.surname)
                              else
                                 input#surname.form-control(name='surname', type='text', required)
                        .form-row
                           .form-group.col
                              label(for='person-select') zna osoby: 
                                 small.small (klikaj z wciśniętym klawiszem CTRL / ⌘ aby zaznaczyć więcej pozycji)
                              select#person-select.form-control(multiple, size=12, name='list')
                                 each person in people
                                    option(value=person.id)= person.id + ": " + person.name + " " + person.surname 
                        .form-row
                           .form-group.col
                              if edit
                                 input#submit.btn.btn-success.w-100(type="submit", value="zapisz zmiany")
                              else
                                 input#submit.btn.btn-success.w-100(type="submit", value="dodaj")
               .row
                  .col
                     include ../partials/foot.pug