doctype html
html(lang="en")
   head
      include ../partials/head.pug
   body.mt-5.mb-4
      .container
         .row.justify-content-center
            .col-11.col-lg-9.content.pt-4
               .row.mb-3
                  .col.text-center
                     include ../partials/top.pug
               .row
                  .col
                     include ../partials/menu.pug
               .row.justify-content-center
                  .col-11.col-md-9.col-lg-8.mt-4.mb-3
                     .alert.alert-warning.text-center
                        p
                           strong Jeśli po wybraniu którejś z opcji powyżej strona nie odpowiada, bądź serwer zwraca błąd 500, proszę poczekać minutę i odświeżyć stronę.
                        p Na wizualizację zawartości bazy trzeba chwilę poczekać. Problemy te mają związek z darmowymi planami usług, z których korzysta strona.
                        

               .row
                  .col
                     include ../partials/foot.pug
