doctype html
html(lang="en")
   head
      include ../partials/head.pug
   body.mt-5.mb-4
      .container.content.h-100.pt-4
         .row.h-100.mb-3
            .col.text-center
               h5 Przetwarzanie danych w chmurach obliczeniowych
               h4 projekt
         .row
            .col
               include ../partials/foot.pug