doctype html
html(lang="en")
   head
      include ../partials/head.pug
   body.mt-5.mb-4
      .container
         .row.justify-content-center
            .col-11.col-lg-9.content.pt-4
               .row.mb-3
                  .col.text-center
                     include ../partials/top.pug
               .row
                  .col
                     include ../partials/menu.pug
               .row
                  .col
                     h1.text-center osoby aktualnie znajdujące się w bazie
                     div
                     table.table
                        thead
                           tr
                              th(scope='col', style='width: 8%') id
                              th(scope='col', style='width: 31%') imię
                              th(scope='col', style='width: 31%') nazwisko
                              th(scope='col', style='width: 30%')
                        tbody
                           each person in people
                              tr
                                 td.align-middle= person.id
                                 td.align-middle= person.name
                                 td.align-middle= person.surname
                                 td.text-right
                                    a(href="/list/update/" + person.id)
                                       button.btn.btn-primary.btn-sm.mr-2 edytuj
                                    form.d-inline(action="/list/delete/" + person.id, method="POST")
                                       input(type="hidden", name="id", value=person.id)
                                       input(type="submit", value="usuń").btn.btn-danger.btn-sm
                     a(href='/list/create')
                        button.btn.btn-success.w-100 dodaj nową osobę

               .row.mt-2
                  .col
                     include ../partials/foot.pug