doctype html
html(lang="en")
   head
      include ../partials/head.pug
   body.mt-5.mb-4
      .container.content.h-100.pt-4
         .row.h-100.mb-3
            .col.text-center
               include ../partials/top.pug
         .row
            .col
               include ../partials/menu.pug
         .row.text-center
            .col
               h1 wypisywanie z bazy
         .row
            .col
               include ../partials/foot.pug